html{
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.text{
    color: white;
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    text-align:center;
    z-index:1;
    width:100%;
    letter-spacing:-0.01em;
}

body{
    margin:0;
    background-color: black;
}

canvas{
    opacity:0.8;
    transform:scale(1.35);
}

.text span{
    filter: blur(0px);
    opacity:1;
    transition: filter 1300ms, opacity 1300ms, top 1600ms ease-in-out, left 1600ms ease-in-out;
    top:0;
    left:0;
}
.text span.disappeared{
    filter: blur(20px);
    opacity:0;
    position:relative;
    /* top: -2em; */
    /* left:-2em; */

}

.text {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.text.fade-in {
    opacity: 1;
}